.bcontainer{
    margin-top: 40px;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}

.blog-menu{
    /* background-color: pink; */
    border-right: 1px solid #BCBCBC; 
    margin-left: 30px;
    min-width: 170px;
    max-width: 220px;
}

.blog-menu ul{
    list-style: none;
}

.blog-menu > ul > li{
    font-weight: 700;
    line-height: 2.5;
} 
.blog-menu > ul > ul > li{
    text-indent: 1.5rem;
    line-height: 1.4;
    font-weight: 200;
}

.bcontent{
    /* background-color: lightgreen; */
    padding-left: 30px;
    width: 60%;
}
.bcontent h1{
    font-size: 2.3rem;
}

.post-labels{
    display:flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin-left: -0.4rem;
}

.post-label{
    background-color: #ccc;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    margin: 0.2rem 0.4rem;
}

.posts{
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    line-height: 35px;
    min-width: 500px;
}

.posts > div:nth-child(odd){
    background-color: #E5E5E5;
}

.post-item{
    display: flex;
    justify-content: space-between;
}

.post-item > .post-date{
    padding: 0 1rem;
    font-size: 1rem;
}

.post-text{
    margin-top: 20px;
    font-family: Roboto, Sans-serif;
    font-size: 1.2rem;
}

.post-text p{
    padding-bottom: 15px;
    line-height: 1.4;
}
.post-text h1{
    font-size:1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-text h2{
    font-size:1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-text h3{
    font-size:1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-text ul{
    list-style-position: inside;
}

.post-text > ul > ul{
    text-indent: 2.5rem;
}

.post-text > ul{
    text-indent: 1rem;
}

.post-text > ul > ul{
    text-indent: 2.5rem;
}

.post-text > ul > ul > ul{
    text-indent: 4.5rem;
}
