{{ partial "head.html" . }}
<body class=theme-auto>
  {{ partial "nav.html" }}
  <link rel='stylesheet' href='/assets/index.8VHAMXS9.css'>
  <div id="_search_app_placeholder"></div>
  <div id="_search_app_target" class="container" style="margin-top: 2rem">
    <h2 style="
      margin-bottom:1rem;
      font-size:1.8rem;
      color: var(--text-primary);
      font-weight: 600;
      ">Notes</h2>
    <div style="margin-bottom:2rem" class="intro-text">
      <p>
      This is a place for my notes. Things that are not really post worthy but
      are worth saving and sharing. Things like “How to configure nginx to
      forward subpath be proxied by an http app correctly” or “How to install nixos on an
      oracle cloud vps”, and other useful tidbits.
      </p>
    </div>
    <div id=notes-list>
      {{ range .Pages.ByDate.Reverse }}
      <div>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <div class=tag-group>
            {{ range .Params.tags }}
              <span>{{ . }}</span>
            {{ end }}
          </div>
      </div>
      {{ end }}
    </div>
  </div>
  <script type="module" src='/assets/main.JW6RWPDQ.js'></script>
</body>
{{ partial "footer.html" . }}
</html>
