<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Prithu Goswami</title>
  <meta name="description" content="Prithu Goswami's personal website">
  <meta name="author" content="Prithu Goswami">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="img/png" href="/img/favicon.png">

</head>

<body class="flex-body">
  {{ partial "nav.html" }}
  <section id="page404">
    <div class="shadow-box-error">
      <h1 class="error">404</h1>
      <h2 class="sub-head">Not Found<span class="joke">just like my purpose in life...</span></h2>
    </div>
  </section>

</body>

</html>
