@import url('https://rsms.me/inter/inter.css');

.bcontainer{
    margin-top: 2rem;
    display: flex;
    flex-flow: row;
    width: 100%;
    min-height: calc(100vh - 7rem - 7rem); /* 7rem footer + 7 rem nav + margin */
    justify-content: center;
    color: var(--text-primary);
}

.blog-menu{
    border-right: 1px solid #BCBCBC; 
    margin-left: 30px;
    min-width: 170px;
    max-width: 220px;
}

.blog-menu ul{
    list-style: none;
}

.blog-menu > ul > li{
    font-weight: 700;
    line-height: 2.5;
} 
.blog-menu > ul > ul > li{
    text-indent: 1.5rem;
    line-height: 1.4;
    font-weight: 200;
}

.bcontent{
    /* background-color: lightgreen; */
    width: 50%;
}

.bcontent h1{
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 1;
    color: var(--text-primary);
    fill: var(--text-primary);
}

#rss a{
    color: inherit;
    font-size: 16px;
    font-weight: 100;
}

#rss {
    margin-left: 8px;
}

.bcontent > .post-date{
    margin: 0.8rem 0;
    font-family: Sans-Serif;
}

.post-labels{
    display:flex;
    flex-wrap: wrap;
    margin-left: -0.2rem;
    margin-bottom: 2rem;
}

.post-label{
    background-color: var(--pre-bg);
    border-radius: 0.3rem;
    padding: 0.2rem 0.8rem;
    font-size: 0.85rem;
    margin: 0.2rem 0.2rem;
}

.posts{
    font-family: Inter, sans-serif;
    list-style: none;
    margin-top: 1.5rem;
    font-size: 1.18rem;
}

.posts > div:nth-child(odd){
}

.post-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem 0rem;
}

.post-item > a:hover {
    text-decoration: underline;
}

.post-item > a {
    margin-right: 4rem;
    overflow: hidden;
    font-weight: 600;
    color: var(--text-primary);
}

.post-item > .post-date{
    font-size: 1rem;
    line-height: 1.4;
    white-space: nowrap;
    color: var(--text-secondary);
}

.post-text{
    font-family: Inter, sans-serif;
    font-size: 16px;
}


.post-text figure h4{
    color: var(--text-secondary);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.post-text figure{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.post-text a {
    border-bottom: 2px solid #B554E3aa;
}

/* .post-text a::after { */
/*   display: inline-block; */
/*   content: ' '; */
/*   background-image: url('../img/ext-arrow.svg'); */
/*   margin-left: 6px; */
/*   /1* background-size: 28px 28px; *1/ */
/*   height: 12px; */
/*   width: 12px; */
/* } */

.post-text a:hover {
    color: #8a3ead;
    text-decoration: none;
}

.post-text figure img{
    margin: 0 auto;
}

.post-text p{
    line-height: 1.5;
    margin: 1rem 0;
}

.post-text h1{
    font-size:1.7rem;
    margin-top: 2.5rem;
}

.post-text h2{
    font-size:1.5rem;
    margin-top: 2rem;
}

.post-text h3{
    font-size:1.3rem;
    margin-top: 1.5rem;
}

.post-text ul{
    list-style-position: outside;
    padding: 0 1.2rem;
}

.post-text ul li{
    margin: 0.4rem 0rem;
}

.post-text pre {
    max-width: 100%;
    background: var(--pre-bg);
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 6px;
    font-size: 0.9rem;
    overflow-x: scroll;
}

.post-text pre::-webkit-scrollbar {
    height: 6px;
}

.post-text pre::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
}

.post-text pre::-webkit-scrollbar-thumb:active {
  background-color: rgba(3,122,255,0.8);
}

.post-text > p > code{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background: rgba(0,0,0,0.08);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 0.3rem;
    border-radius: 0.2rem;
}

.post-text > p > a > code{
    font-family: 'Roboto Mono';
    font-size: 14px;
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 0.4rem;
    border-radius: 0.2rem;
}

.post-text blockquote {
    margin: 2rem 0rem 2rem 1rem;
    padding-left: 1rem;
    border-left: 4px solid var(--quote-bar);
    font-size: 16px;
    color: var(--text-secondary);
    text-transform: italic;
}

@media only screen and (max-width: 768px){
    .bcontent {
        width: 90%;
    }

    #blist {
        width:100%;
    }

    #blist h1{
        margin-left: 1rem;
    }

    .bcontainer {
        margin-top: 1rem;
    }

    .post-item{
        flex-direction: column-reverse;
        padding: 0.7rem 1rem;
    }

    .post-item > a {
        margin-right: 0rem;
        overflow: hidden;
        font-weight: 500;
    }

    .post-item > .post-date{
        margin-bottom: 0.2rem;
    }


}
