@import url('https://rsms.me/inter/inter.css');
@import url('syntax.css');

.bcontainer{
    max-width: 664px;
    width: 100%;
    margin: 2rem auto;
    justify-content: center;
    color: var(--text);
}

.blog-menu{
    border-right: 1px solid #BCBCBC; 
    margin-left: 30px;
    min-width: 170px;
    max-width: 220px;
}

.blog-menu ul{
    list-style: none;
}

.blog-menu > ul > li{
    font-weight: 700;
    line-height: 2.5;
} 
.blog-menu > ul > ul > li{
    text-indent: 1.5rem;
    line-height: 1.4;
    font-weight: 200;
}

.bcontent{
    max-width: 720px;
}

.bcontent h1{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--text-primary);
    fill: var(--text-primary);
}

#rss a{
    color: inherit;
    font-size: 16px;
    font-weight: 200;
}

#rss {
    margin-left: 8px;
}

.bcontent > .post-date{
    margin: 0.8rem 0;
}

.post-labels{
    display:flex;
    flex-wrap: wrap;
    margin-left: -0.2rem;
    margin-bottom: 2rem;
}

.post-label{
    background-color: var(--pre-bg);
    border: 1px solid var(--pre-border);
    border-radius: 0.3rem;
    padding: 0.2rem 0.8rem;
    font-size: 0.85rem;
    margin: 0.2rem 0.2rem;
}

.posts{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5rem;
}

.post-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.post-item > a:hover {
    text-decoration: underline;
}

.post-item > a {
    margin-right: 4rem;
    overflow: hidden;
    color: var(--text);
}

.post-item > .post-date{
    color: var(--text-secondary);
    font-size: 1rem;
    line-height: 1.4;
    white-space: nowrap;
}

.footnotes ol{
    list-style-position: inside;
    padding-top: 1rem;
}

.footnotes li>p {
    display: inline-block;
    margin: 0.3rem;
}

.post-text{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--text);
}


.post-text figure h4{
    color: var(--text-secondary);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.post-text figure{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.post-text a {
    border-bottom: 2.7px solid #008aff80; 
    overflow-wrap: break-word;
}

.post-text a code {
    border-bottom: 1.7px solid #008aff80; 
}

.post-text a:hover {
    color: #008aff;
    text-decoration: none;
}

.post-text sup {
    border-radius: 0.25rem;
    padding: 0.1rem 0.3rem;
    background-color: #008aff1f;
}

.post-text figure img{
    margin: 0 auto;
}

.post-text p{
    line-height: 1.6;
    margin: 1rem 0;
}

.post-text li{
    line-height: 1.6;
    margin-bottom: 8px;
}

.post-text h1{
    font-family: 'Exo 2';
    font-weight: 500;
    font-size:1.6rem;
    margin-top: 2.5rem;
}

.post-text h2{
    font-family: 'Exo 2';
    font-size:1.4rem;
    font-weight: 500;
    margin: 2rem 0;
    color: var(--text-primary);
}

.post-text h3{
    font-family: 'Exo 2';
    font-weight: 500;
    font-size:1.2rem;
    margin-top: 1.5rem;
    color: var(--text-primary);
}

.post-text h4{
    font-weight: 600;
    font-size:1rem;
    margin-top: 1rem;
    color: var(--text-primary);
}

.post-text ul{
    list-style-position: outside;
    padding: 0 1.2rem;
}

.post-text ol{
    list-style-position: outside;
    padding: 0 1.2rem;
}

.post-text pre {
    max-width: 100%;
    background: var(--pre-bg);
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid var(--pre-border);
    border-radius: 6px;
    font-size: 0.9rem;
    overflow-x: scroll;
}

.post-text strong {
    font-weight: 600;
}

.post-text pre::-webkit-scrollbar {
    height: 6px;
}

.post-text pre::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 20px;
}

.post-text pre::-webkit-scrollbar-thumb:active {
  background-color: rgba(3,122,255,0.8);
}

:not(pre) > code{
    overflow-wrap: break-word;
    font-family: monospace;
    font-size: 14px;
    background-color: var(--code-bg);
    border: 1px solid var(--pre-border);
    padding: 0 0.3rem;
    border-radius: 0.2rem;
}

.post-text ._aside {
    border: 1px solid #008aff42;
    border-radius: 6px;
    background-color: #40a6ff14;
    padding: 0.5rem 2.5rem;
    margin-top: 1rem;
}

.post-text ._aside h1,
.post-text ._aside h2,
.post-text ._aside h3,
.post-text ._aside h4 {
    color: var(--text)
}

.vid {
    max-width: 100%;
    height: auto;
}

.post-text blockquote {
    margin: 2rem 0rem 2rem 1rem;
    padding-left: 1rem;
    border-left: 4px solid var(--quote-bar);
    font-size: 16px;
    color: var(--text-secondary);
    font-style: italic;
}

@media only screen and (max-width: 768px){
    .bcontent {
        width: 90%;
        margin: 0 auto;
    }

    /* #blist { */
    /*     width:100%; */
    /* } */

    /* #blist h1{ */
    /*     margin-left: 1rem; */
    /* } */

    .bcontainer {
        margin-top: 1rem;
    }

    .post-item{
        flex-direction: column-reverse;
    }

    .post-item > a {
        margin-right: 0rem;
        overflow: hidden;
        font-weight: 500;
    }

    .post-item > .post-date{
        margin-bottom: 0.2rem;
    }

    .post-text ._aside {
        padding: 0.5rem 1.5rem;
    }


}
