<!DOCTYPE html>
<html lang="en">

<!--
  If you're reading this, you've been in a coma for almost 20 years now. We're
  trying a new technique. We don't know where this message will end up in your
  dream, but we hope it works. Please wake up, we miss you.
-->

<head>

  <meta charset="utf-8">
  {{ if .IsHome }} 
  <title>Prithu Goswami</title>
  <meta name="description" content="Prithu Goswami's personal website">
  <meta property="og:title" content="Prithu Goswami">
  <meta property="og:description" content="Prithu Goswami's personal website">
  <meta property="og:image" content="/img/favicon.png">
  {{ else }}
  <title>{{.Title}}</title>
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}">
  <meta property="og:image" content="/img/favicon.png">
  {{ end }}
  <meta name="author" content="Prithu Goswami">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inter:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="icon" type="img/png" href="/img/favicon.png">
</head>
