<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  {{ if .IsHome }} 
  <title>Prithu Goswami</title>
  <meta name="description" content="Prithu Goswami's personal website">
  <meta property="og:title" content="Prithu Goswami">
  <meta property="og:description" content="Prithu Goswami's personal website">
  <meta property="og:image" content="/img/favicon.png">
  {{ else }}
  <title>{{.Title}}</title>
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}">
  <meta property="og:image" content="/img/favicon.png">
  {{ end }}
  <meta name="author" content="Prithu Goswami">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans&family=Lato&display=swap" rel="stylesheet">
  <link rel="icon" type="img/png" href="/img/pg.svg">
  <!-- <link rel="me" href="https://fosstodon.org/@prithu"> -->
</head>
