<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  {{ if .IsHome }} 
  <title>Prithu Goswami</title>
  <meta name="description" content="Prithu Goswami's personal website">
  <meta property="og:title" content="Prithu Goswami">
  <meta property="og:description" content="Prithu Goswami's personal website">
  <meta property="og:image" content="/img/favicon.png">
  {{ else }}
  <title>{{.Title}}</title>
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}">
  <meta property="og:title" content="{{.Title}}">
  <meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}">
  <meta property="og:image" content="/img/favicon.png">
  {{ end }}
  <meta name="author" content="Prithu Goswami">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="icon" type="img/png" href="/img/favicon.png">
  <!-- <link rel="me" href="https://fosstodon.org/@prithu"> -->
</head>
