<nav>
  <div class="nav-group">
    <div>
      <a href="/">
        <svg id=pg viewBox="0 0 21.2 25.4" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.9 0l-.7 4h2l-.8 5-.2 1.6c0 1.6.5 3 1.4 4 1 1 2.3 1.7 4 1.4 2.3-.3 2.4-1.8 3.5-2.4 1-.7 2.3-1.4 5.4-1l1.6-8.5h2.4l.7-4.1zm6.3 4h5l-.9 5.2c-.1.8-.4 1.5-1 2-.4.5-1 .7-1.8.7s-1.4-.2-1.7-.6c-.4-.3-.6-.9-.6-1.6V9z" fill="#1a1a1a"/>
          <path d="M10.7 17.8c-.3 2-1.4 3-3.2 3-.7 0-1.2-.1-1.6-.4-.4-.3-.6-.7-.6-1.2H0v.6a5 5 0 001.8 4A8 8 0 007 25.5c1.7 0 3.2-.3 4.5-1a8 8 0 003-2.8c.8-1.7 1-2.6 1.2-4l.4-2.4c-2.8-.3-4.8 0-5.4 2.6z" fill="#4d4d4d"/>
        </svg>
      </a>
    </div>
    <!-- <div><a href="/projects">Projects</a></div> -->
    <div><a href="/posts">Posts</a></div>
    <div><a href="/snippets">Snippets</a></div>
    <div><a href="https://git.prithu.xyz">Git</a></div>
    <!-- <div><a href="https://x.prithu.xyz/pub">pub/</a></div> -->
    <!-- <div><a href="/links">Links</a></div> -->
  </div>
</nav>
