{{ partial "head.html" . }}

<body class=theme-auto>

  {{ partial "nav.html" }}

  <section id="intro" class="page-section">
    <div class="container">
        <div id="intro-text">
          <p>
          {{ .Content }} 
          </p>
        </div>
    </div>
  </section>
  <section id=latest-posts>
    <div class=container>
      <h2>Latest posts</h2>
      <div id=latest-posts-list>
        {{ range sort (where .Site.RegularPages "Section" "posts") "Date" "desc" | first 3}}
        <div >
          <div>
            <h3>
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </h3>
            <p>{{ with .Params.description }}{{ . }}{{ else }}{{.Summary | truncate 110 }}{{ end }}</p>
          </div>
          <p>{{ .Date.Format "2 Jan 2006" }}</p>
        </div>
        {{ end }}
      </div>
      <a id=latest-posts-viewall href="/posts/">View All ➜</a>
    </div>
  </section>
  {{ partial "footer.html" . }}
</body>
</html>
